@model VodokanalWeb.Models.ErrorViewModel

@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    Переключение на <strong>режим разработки</strong> отобразит более подробную информацию о произошедшей ошибке.
</p>
<p>
    <strong>Режим разработки не должен быть включен в развернутых приложениях.</strong>
    Это может привести к отображению конфиденциальной информации из исключений для конечных пользователей.
    Для локальной отладки включите режим разработки, задав для переменной среды <strong>ASPNETCORE_ENVIRONMENT</strong> значение <strong>Development</strong>
    и перезапустите приложение.
</p>
